
.topic {
    border-radius: 5px;
    height: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 2%;
    color: white;
}

.tile-exercise-title {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    padding-bottom: 20px;
    color: #444444;
}

.tile-exercise-featured {
    display: flex;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    overflow: hidden;

}


.tile-exercise-name {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-left: 20px;
    font-size: 20px;
    color: #666666;
    z-index: 3;
}


.tile-excercise-marker {
    width: 30px;
    margin-left: 0px;
    height: 60px;
    padding:18px;
    padding-left: 40px;
}

.tile-excercise-semester {
    width: 100%;
    height: 50px;
    padding-top: 15px;

    font-size: 14px;
    color: #666666;
    z-index: 3;
}

.tile-excercise-level {
    width: 100%;
    height: 50px;
    padding-top: 15px;

    font-size: 14px;
    color: #666666;
    z-index: 3;
}

.tile-excercise-button {
    height: 1.7rem;
    border-radius: 5px;
    font-size: 10px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    padding-top: 5px;

    color: white;
    background-color: #E91E63;
}






.panel {
    display: flex;
    flex-wrap: wrap;

    width: 100%;
}

.panel-head {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 50px;
    padding: -20px;

    background-color: #FFEB3B;
    font-size: 18px;
    z-index: 3;

    padding-top: 12px;
    padding-left: 25px;
    padding-right: 25px;
    color: #3A3A3A;

    -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}

.panel-body {
    height: 200px;
}